@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montagu+Slab:opsz,wght@16..144,700&display=swap');


:root {
    --ion-font-family: 'Montagu Slab', 'Roboto Slab', serif;
    --ion-font-family-monospace: 'Courier Prime', monospace;
    --ion-font-family-preview: 'Brygada 1918', 'Georgia', serif;

    --ion-background-color: #FFFAF7;
	--ion-background-color-rgb: 255,250,247;

	--ion-text-color: #060505;
	--ion-text-color-rgb: 6,5,5;

	--ion-color-step-50: #f3eeeb;
	--ion-color-step-100: #e6e2df;
	--ion-color-step-150: #dad5d3;
	--ion-color-step-200: #cdc9c7;
	--ion-color-step-250: #c1bdbb;
	--ion-color-step-300: #b4b1ae;
	--ion-color-step-350: #a8a4a2;
	--ion-color-step-400: #9b9896;
	--ion-color-step-450: #8f8c8a;
	--ion-color-step-500: #83807e;
	--ion-color-step-550: #767372;
	--ion-color-step-600: #6a6766;
	--ion-color-step-650: #5d5b5a;
	--ion-color-step-700: #514f4e;
	--ion-color-step-750: #444242;
	--ion-color-step-800: #383635;
	--ion-color-step-850: #2b2a29;
	--ion-color-step-900: #1f1d1d;
	--ion-color-step-950: #121111;

	--ion-color-primary: #E6A82E;
	--ion-color-primary-rgb: 230,168,46;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #ca9428;
	--ion-color-primary-tint: #e9b143;

	--ion-color-secondary: #E62E6B;
	--ion-color-secondary-rgb: 230,46,107;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #ca285e;
	--ion-color-secondary-tint: #e9437a;

	--ion-color-tertiary: #4D4D4D;
	--ion-color-tertiary-rgb: 77,77,77;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #444444;
	--ion-color-tertiary-tint: #5f5f5f;

	--ion-color-success: #63992E;
	--ion-color-success-rgb: 99,153,46;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #578728;
	--ion-color-success-tint: #73a343;

	--ion-color-warning: #99632E;
	--ion-color-warning-rgb: 153,99,46;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #875728;
	--ion-color-warning-tint: #a37343;

	--ion-color-danger: #992E2E;
	--ion-color-danger-rgb: 153,46,46;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #872828;
	--ion-color-danger-tint: #a34343;

	--ion-color-medium: #807D7C;
	--ion-color-medium-rgb: 128,125,124;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #716e6d;
	--ion-color-medium-tint: #8d8a89;

	--ion-color-light: #FFFAF7;
	--ion-color-light-rgb: 255,250,247;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0dcd9;
	--ion-color-light-tint: #fffbf8;
}

@media (prefers-color-scheme: dark) {
    body {
        --ion-background-color: #060505;
        --ion-background-color-rgb: 6,5,5;
    
        --ion-text-color: #FFFAF7;
        --ion-text-color-rgb: 255,250,247;
    
        --ion-color-step-50: #121111;
        --ion-color-step-100: #1f1e1d;
        --ion-color-step-150: #2b2a29;
        --ion-color-step-200: #383635;
        --ion-color-step-250: #444242;
        --ion-color-step-300: #514f4e;
        --ion-color-step-350: #5d5b5a;
        --ion-color-step-400: #6a6766;
        --ion-color-step-450: #767372;
        --ion-color-step-500: #83807e;
        --ion-color-step-550: #8f8c8a;
        --ion-color-step-600: #9b9896;
        --ion-color-step-650: #a8a4a2;
        --ion-color-step-700: #b4b1ae;
        --ion-color-step-750: #c1bdbb;
        --ion-color-step-800: #cdc9c7;
        --ion-color-step-850: #dad5d3;
        --ion-color-step-900: #e6e2df;
        --ion-color-step-950: #f3eeeb;

        --ion-color-primary: #e7ac36;
        --ion-color-primary-rgb: 231,172,54;
        --ion-color-primary-contrast: #000000;
        --ion-color-primary-contrast-rgb: 0,0,0;
        --ion-color-primary-shade: #cb9730;
        --ion-color-primary-tint: #e9b44a;
    
        --ion-color-secondary: #e73671;
        --ion-color-secondary-rgb: 231,54,113;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255,255,255;
        --ion-color-secondary-shade: #cb3063;
        --ion-color-secondary-tint: #e94a7f;
    
        --ion-color-tertiary: #666666;
        --ion-color-tertiary-rgb: 102,102,102;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255,255,255;
        --ion-color-tertiary-shade: #5a5a5a;
        --ion-color-tertiary-tint: #757575;
    
        --ion-color-success: #73b135;
        --ion-color-success-rgb: 115,177,53;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0,0,0;
        --ion-color-success-shade: #659c2f;
        --ion-color-success-tint: #81b949;
    
        --ion-color-warning: #b17335;
        --ion-color-warning-rgb: 177,115,53;
        --ion-color-warning-contrast: #ffffff;
        --ion-color-warning-contrast-rgb: 255,255,255;
        --ion-color-warning-shade: #9c652f;
        --ion-color-warning-tint: #b98149;
    
        --ion-color-danger: #b13535;
        --ion-color-danger-rgb: 177,53,53;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255,255,255;
        --ion-color-danger-shade: #9c2f2f;
        --ion-color-danger-tint: #b94949;
    
        --ion-color-medium: #9b9897;
        --ion-color-medium-rgb: 155,152,151;
        --ion-color-medium-contrast: #000000;
        --ion-color-medium-contrast-rgb: 0,0,0;
        --ion-color-medium-shade: #888685;
        --ion-color-medium-tint: #a5a2a1;
    
        --ion-color-light: #2d2a2a;
        --ion-color-light-rgb: 45,42,42;
        --ion-color-light-contrast: #ffffff;
        --ion-color-light-contrast-rgb: 255,255,255;
        --ion-color-light-shade: #282525;
        --ion-color-light-tint: #423f3f;        
    }    
    .ios body {
        --ion-item-background: var(--ion-background-color);
        --ion-card-background: var(--ion-color-step-100);
    }
    .ios ion-modal {
        --ion-background-color: var(--ion-color-step-100);
        --ion-toolbar-background: var(--ion-color-step-150);
        --ion-toolbar-border-color: var(--ion-color-step-250);
    }

    .md body {
        --ion-item-background: var(--ios-color-step-50);

        --ion-toolbar-background: var(--ios-color-step-100);

        --ion-tab-bar-background: var(--ios-color-step-100);

        --ion-card-background: var(--ios-color-step-50);
    }
}

html {
    font-size: 20px;
    font-family: var(--ion-font-family);
    font-weight: 300;
    --ion-toolbar-background: var(--ion-color-step-50);
    --ion-toolbar-color: var(--ion-color-step-150);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}